<app-navbar></app-navbar>

<div class="cards">
  

  
<div class="row card-deck">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
      <div class="card text-center">
          <div class="card-header">
              <h4>{{product.name}}</h4>
          </div>
          <div class="card-body">
              <a href="#"><img class="card-img-top" src={{product.pictureUrl}} 
                  alt=""></a>
              <h5 class="card-title">${{product.price}}</h5>
              <div class="row">
                  
                  <div class="col-12">
                      <button class="btn btn-primary" (click)="addToCart(product)">
                             Add To Cart
                      </button>
                  </div>
                  <div class="col-12">
                   
                </div>
              </div>
          </div>
      </div>
  </div>

  
</div>
</div>


