<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

<br/>
    <!-- Login Form -->
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <input type="text" id="username" class="fadeIn second" name="username" [(ngModel)] = "this.login.username" required #username="ngModel" placeholder="Username">
      <input type="text" id="password" class="fadeIn third" name="password" [(ngModel)] = "this.login.password" required #password="ngModel" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>