<!--
<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.id }}</span>
  <span>{{ item.name }}</span>
  <span>{{ item.photo }}</span>
  <span>{{ item.price | currency }}</span>
</div>
-->

<app-navbar></app-navbar>



<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header text-center">Shopping Cart</div>
  <div class="card-body" >
    <p>
      <a routerLink="/shipping">Shipping Prices</a>
    </p>
    
      <h5 class="card-title">Total: </h5>
      <hr>
      <h6 class="card-title">Items bought:</h6>

      <ul>
          <li *ngFor="let item of items" >
            <span>{{ item.name }}</span>&nbsp;
            <span>{{ item.price | currency }}</span>
          </li>
          
      </ul>

      <button class="btn btn-light btn-block">Checkout
      </button>
  </div>
</div>